.container{
    background: #070e39;
    color: white;
    padding: 10px;
}

.dashboard{
    width: 90%;
    margin: auto;
    background: #4D9DCE;
    display: flex;
    justify-content: space-between;
}