.container{
    background: white;
    width: 55%;
    border-radius: 40px 0px 0px 40px;
}
.info{
    color: black;
    text-align: left;
    margin: 40px 0px 10px 40px;
    font-size: 20px;
}
.info span{
    font-size: 20px;
    font-weight: bold;
    color: #0060A5;
}

.calendar{
    background: white;
    color: black;
    font-weight: bold;
    padding: 30px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wrap {
    display: flex;
    justify-content: flex-end;
}

.button {
    margin-top: 20px;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: white;
    background-color: #4D9DCE;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}
  
.button:hover {
    background-color: #2EE59D;
    box-shadow: 0px 10px 15px rgba(46, 229, 157, 0.4);
    color: black;
    transform: translateY(-7px);
}