.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin: auto;
    padding: 2px;
    box-shadow: rgb(61, 100, 168) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    margin-top: 3px;
    margin-bottom: 3px;
    position: -webkit-sticky;
    position: sticky;
}

.logo{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.logo:hover{
    box-shadow:rgb(255, 255, 255) 0px 0px 0px 3px;
    cursor: pointer;
}

.logoContainer{
    display: flex;
    margin-left: 10px;
}