.navbar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    margin: auto;
    padding: 2px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    margin-top: 3px;
}